<div class="login-container">
<mat-card >
    <mat-card-header class="login_header">
        <mat-card-title class="login_title">
        <h1>Login form</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div>
                <input type="radio" id="User" name="type" value="User" formControlName="type">
                <label for="User">User</label>
                <input type="radio" id="Admin" name="type" value="Admin" formControlName="type">
                <label for="Admin">Admin</label>
                <br>
                <br>
              </div>

        <div>
            <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="Email"/>
            
            </mat-form-field>
            <br />
            <mat-form-field>
            <input type="password" formControlName="password" matInput placeholder="Password"/>
            
            </mat-form-field>
            <br />
            <div class="login_button">
                <div>
                    <button mat-raised-button color="primary" type="submit" color="primary" (click)="login()">
                        Login
                        </button>
                </div>
            </div>

            <br>
            <br>
            new user?
            <a href="register"> Register</a>
        </div>
        </form>
    </mat-card-content>
</mat-card>
</div>

